<div class="admin_reports">
  <%= link_to 'Unpaid Orders', {:action => 'unpaid_orders_pdf'}, :target => '_blank' %><br/>
  <%= link_to 'Unprocessed Orders', {:action => 'unprocessed_orders_pdf'}, :target => '_blank'  %><br/>
  <%= link_to 'Pending Collection', {:action => 'pending_collection_pdf'}, :target => '_blank'  %><br/>
  <%= link_to 'Pending Delivery', {:action => 'pending_delivery_pdf'}, :target => '_blank'  %><br/>
  <%= link_to 'Stock Sheet', {:action => 'stock_sheet_pdf'}, :target => '_blank'  %><br/>
</div>