<% if @product.nil? %>
<div class="flash_msg">No movies found matching the search criteria!</div>
<% else %>
<p class="flash_msg"><%= pluralize(@search_count, "movie") %> found, meeting the criteria.</p>


<% @product.each do |r| %>
<div id="search_result">
<div class="image">
  <img src="<%=h r.image_url %>" width="110px" height="120px" />
</div>
<div class="description">
  <div class="name"><h3><%=h r.name %></h3></div>
  <div class="content_desc"><%=h truncate(r.description.gsub(/<.*?>/,''),:length => 265)%></div>
  <div class="movie_tags">
    <% if r.quantity >= 2 %>
            <%= form_tag({:action => 'add_to_cart', :id => r}, :remote => true) do %>
              <%= submit_tag "Buy Now" %>
            <% end %>
    <% else %>
              <%= button_to "Sold Out" %>
    <% end %>
      <%= form_tag({:action => 'add_to_cart', :id => r}, :remote => true) do %>
  <%= submit_tag "Like" %>
  <% end %>
    <%= form_tag({:action => 'add_to_cart', :id => r}, :remote => true) do %>
  <%= submit_tag "Recommend" %>
  <% end %>
    <div class="tags">
      <% unless r.quantity >= 2 %>
      <span class="tag"><%= "Sold Out" %></span>
      <% end %>
      <span class="tag"><%= "Price #{number_to_currency(r.price)}" %></span>
      <span class="tag"><%= "Released in #{r.release_year}" %></span>
      <span class="tag"><%= "#{pluralize(r.number_of_sales, "copy")} sold  "%></span>
    </div>
  </div>
</div>
</div>
<% end %>
<div class="clear"></div>


<% end %>