<div id="feature_store">
<div class="category_items_header">
  <span class="category_title">Top 10 Movies</span>
</div>
     <% @top_ten_products.each_with_index do |f, i| %>
        <% '< class="students-on-one-line">' if i%6 == 0 %>
        <div id="featured_result">
          <div class="image"><img src="<%=h f.image_url %>" width="130px" height="130px" /></div>
          <div class="movie_name"><%=h f.name %></div>
          <div class="cart_button">
            <%= form_tag({:action => 'add_to_cart', :id => f}, :remote => true) do %>
              <%= submit_tag "Buy Now" %>
            <% end %>
          </div>
          <div class="release-year"><%= number_to_currency(f.price) %></div>

        </div>
        <%= '' if i%4 == 3 %>
      <% end %>
</div>