<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= csrf_meta_tag %>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag 'js-image-slider' %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'js-image-slider' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="bannerwd">
  <div id="banner">
    <div id ="menu_categories" >
        <%= render(:partial => "menu_categories" , :object => @menu_categories) %>
    </div>
  </div>
  </div>

  <div id="main">
      <div id="sidebar">

        <div id ="cart" >
          <%= render(:partial => "cart" , :object => @cart) %>
        </div>
        <div id="side_content">
        <%= render(:partial => "slideshow") %>
        <%= render(:partial => "side_links") %>
        <%= render(:partial => "published_comments", :object => @published_comments) %>
        </div>
      </div>

      <div id="content">
        <% unless flash[:notice].nil? %>
          <div class="flash_msg"><%= flash[:notice] %></div>
        <% end %>
          <%= yield %>
          
          <%= render(:partial => 'layouts/footer') %>
      </div>

  </div>
  

    
</body>

</html>
